.slider
  @include flex
  height: calc( 100vh - 200px  )
  width: calc( 100vh - 200px  )
  overflow: hidden
  margin-bottom: $marg-7
  border-radius: 50%


  &__image
    width: auto
    height: calc( 100vh - 200px  )

@media (max-width: $l)
  .slider
    height: calc( 100vh - 300px  )
    width: calc( 100vh - 300px  )

    &__image
      height: calc( 100vh - 300px  )

@media (max-width: $s)
  .slider
    height: calc( 100vh - 400px  )
    width: calc( 100vh - 400px  )

    &__image
      height: calc( 100vh - 400px  )
